body {
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.main-layout {
  height: 100%;
  display: flex;
}

.list-container {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}
